{% extends 'AdminBundle:Default:template.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-lg-12 text-right">
                <h3>Админ бүртгэл</h3>
            </div>
            <hr class="star-light">
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% if alert is defined %}
                    <div class="alert alert-success">
                        <strong>{{ alert }}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="imageUploadedOrNot">
                    <img src="{{ asset('bundles/images/default.png') }}" id="blankImg"
                         class="img-circle center-block" style="width: 300px;height: 300px;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <hr class="star-light">
                {{ form_start(form) }}
                {{ form_widget(form.file, { 'id': 'file','name':'file' }) }}
                <hr class="star-light">
                {{ form_widget(form.name) }}
                {{ form_widget(form.email) }}
                {{ form_widget(form.phone) }}
                {{ form_widget(form.password.first) }}
                {{ form_widget(form.password.second) }}
                {{ form_widget(form.roleId) }}
                {{ form_widget(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <script src="{{ asset('bundles/js/jquery.min.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $("#file").change(function () {
                var reader = new FileReader();

                reader.onload = function (image) {
                    $('.imageUploadedOrNot').show(0);
                    $('#blankImg').attr('src', image.target.result);
                }

                reader.readAsDataURL(this.files[0]);
            });
        });

    </script>
{% endblock %}