{% extends 'AdminBundle:Default:template.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-lg-12 text-right">
                <h3>Хэрэглэгчийн дэлгэрэнгүй мэдээлэл</h3>
                <hr>
            </div>
        </div>
        <form action="{{ path('admin_client_edit',{'id': cls.cl.id }) }}" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label>Овог</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ cls.cl.firstname }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Нэр</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ cls.cl.lastname }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>И-Мэйл</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ cls.cl.email }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Нууц үг</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="password" class="form-control" value="{{ cls.cl.password }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Байгууллагын нэр</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ cls.cl.company }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Албан тушаал</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ cls.cl.job }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Бүртгүүлсэн огноо</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ cls.cl.startdate }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Компьютер хаяг</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ cls.cl.address }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Утасны дугаар</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" value="{{ cls.cl.phone }}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Идэвхтэй эсэх</label>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <select class="form-control" id="active" name="active">
                            <option value="1" {% if cls.cl.active == '1' %} selected="selected" {% endif %}>
                                Идэвхтэй
                            </option>
                            <option value="0" {% if cls.cl.active == '0' %} selected="selected" {% endif %}>
                                Идэхгүй
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary btn-block" value="Хадгалах">
                </div>
            </div>
        </form>
    </div>
{% endblock %}